<div>
  <div>
    Welcome
  </div>
  <div>
    <div>
      <%= link_to "Add new Paying Guest", new_pg_path %>
      </br>
    </div>
    <div>
      <%= link_to "List all Paying Guest(s)", pgs_path %>
      </br>
    </div>
  </div>
</div>